.nav {
  color:#fff;
  background-color: #8FB9BB;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;

  &__spacer{
      padding-top:48px;
  }

  &__inside{
    width: 1200px;
    max-width:100%;
    margin:0 auto;
  }

  ul {
    margin:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding:0;
    display:block;
    list-style: none;
  }
  li {
    display:inline-block;
    color: white;
    :hover {
      color: blue;
    }
    &:not(:last-child) {
      border-right: solid white 1px;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    line-height: 16px;
    padding:16px;
    text-transform: uppercase;

    color: inherit;
  }
}
